.*.swp
.*.d
*.o
AUTHORS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
*.1
install-sh
missing
.deps
src/sbattach
src/sbkeysync
src/sbsiglist
src/sbsign
src/sbvarsign
src/sbverify
stamp-h1
test-driver
lib/
*.pem
*.patch
tags
